<div>
    <h2 data-translate="schoolApp.attendance.home.title">Attendances</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label for="classSelectBox">Chọn lớp:</label>
                    <select id="classSelectBox" ng-model="vm.classId" ng-change="vm.changeClass()" class="form-control">
                        <option ng-repeat="class in vm.classes" value="{{class.id}}">{{class.name}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <div>
                    Lớp: {{vm.class.name}} |
                    Sĩ số: {{vm.class.students.length}} / Tổng số: {{vm.class.capacity}}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <!--<div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateAttendance"><span data-translate="schoolApp.attendance.dateAttendance">Date Attendance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reason"><span data-translate="schoolApp.attendance.reason">Reason</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="student.id"><span data-translate="schoolApp.attendance.student">Student</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attendance in vm.attendances track by attendance.id">
                    <td><a ui-sref="attendance-detail({id:attendance.id})">{{attendance.id}}</a></td>
                        <td>{{attendance.dateAttendance | date:'mediumDate'}}</td>
                    <td>{{attendance.reason}}</td>
                    <td>
                        <a ui-sref="student-detail({id:attendance.student.id})">{{attendance.student.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="attendance-detail({id:attendance.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attendance.edit({id:attendance.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="attendance.delete({id:attendance.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
    <div class="row">
        <table class="table cell-border" id="tableStudent">
            <tbody>

            </tbody>
        </table>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-sm btn-primary" ng-click="vm.save()">Save</button>
        </div>
    </div>
</div>
