<div>
    <h2 data-translate="schoolApp.attendance.home.title">Attendances</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <label for="classSelectBox">Chọn lớp:</label>
                    <select id="classSelectBox" ng-model="vm.classId" ng-change="vm.changeClass()" class="form-control">
                        <option ng-repeat="class in vm.classes" value="{{class.id}}">{{class.name}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <div>
                    Lớp: {{vm.class.name}} |
                    Sĩ số: {{vm.class.students.length}} / Tổng số: {{vm.class.capacity}}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="zui-wrapper">
        <div class="table-responsive zui-scroller">
            <form>
                <table class="table table-striped table-bordered table-hover table-fix-width-first-col zui-table">
                    <thead>
                    <tr>
                        <th class="text-center zui-sticky-col"><span data-translate="schoolApp.student.name">Name</span></th>
                        <th ng-repeat="day in vm.lstDay" class="text-center">{{vm.getDayString(day.getDay())}} <br/> {{day.getDate()}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in vm.class.students track by student.id">
                        <td style="display: none;">{{student.id}}</td>
                        <td class="zui-sticky-col">{{student.firstName}} {{student.midleName}} {{student.lastName}}</td>
                        <td class="text-center" ng-repeat="day in vm.lstDay">
                            <input type="checkbox" ng-model=""/>
                        </td>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-sm btn-primary" ng-click="vm.save()">Save</button>
        </div>
    </div>
</div>
