
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myParentsLabel" data-translate="schoolApp.parents.home.createOrEditLabel">Create or edit a Parents</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.parents.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.parents.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.parents.firstName"
                    ng-maxlength="50"/>
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.midleName" for="field_midleName">Midle Name</label>
            <input type="text" class="form-control" name="midleName" id="field_midleName"
                    ng-model="vm.parents.midleName"
                    ng-maxlength="50"/>
            <div ng-show="editForm.midleName.$invalid">
                <p class="help-block"
                    ng-show="editForm.midleName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.parents.lastName"
                    ng-maxlength="50"/>
            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                <div class="input-group">
                    <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" uib-datepicker-popup="{{dateformat}}" ng-model="vm.parents.dateOfBirth" is-open="vm.datePickerOpenStatus.dateOfBirth"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfBirth')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.parents.gender"
                    ng-maxlength="10"/>
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.parents.address"
                    ng-maxlength="200"/>
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="vm.parents.phoneNumber"
                    ng-maxlength="20"/>
            <div ng-show="editForm.phoneNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.phoneNumber.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.parents.relation" for="field_relation">Relation</label>
            <input type="text" class="form-control" name="relation" id="field_relation"
                    ng-model="vm.parents.relation"
                    ng-maxlength="200"/>
            <div ng-show="editForm.relation.$invalid">
                <p class="help-block"
                    ng-show="editForm.relation.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
