
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTeacherAttendanceLabel" data-translate="schoolApp.teacherAttendance.home.createOrEditLabel">Create or edit a Teacher Attendance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.teacherAttendance.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.teacherAttendance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.teacherAttendance.dateAttendance" for="field_dateAttendance">Date Attendance</label>
                <div class="input-group">
                    <input id="field_dateAttendance" type="text" class="form-control" name="dateAttendance" uib-datepicker-popup="{{dateformat}}" ng-model="vm.teacherAttendance.dateAttendance" is-open="vm.datePickerOpenStatus.dateAttendance"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateAttendance')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="schoolApp.teacherAttendance.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                    ng-model="vm.teacherAttendance.reason"
                    ng-maxlength="200"/>
            <div ng-show="editForm.reason.$invalid">
                <p class="help-block"
                    ng-show="editForm.reason.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="schoolApp.teacherAttendance.teacherId" for="field_teacherId">Teacher Id</label>
            <select class="form-control" id="field_teacherId" name="teacherId" ng-model="vm.teacherAttendance.teacherId" ng-options="teacher as teacher.id for teacher in vm.teachers track by teacher.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
